body {
    background-color: #34495e;
}
#box1 {
    background-color: #95a5a6;
    display: flex;
    position: relative;
}
#box2 {
    background-color: #bdc3c7;
    position: absolute;
    left: 50%;
}
#box3 {
    background-color: #e74c3c;
}