body {
    background-color: #34495e;
}
#box1 {
    background-color: #95a5a6;
    display: flex;
    position: relative;
}
#box2 {
    background-color: #bdc3c7;
    position: absolute;
    left: 50%;
}
#box3 {
    background-color: #e74c3c;
}
#ftdpic {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card {
    margin-bottom: 15px;
    background-color: #000000;
    color: #FF671F;
}